html
    head
        title #{document.title}
        meta(content="width=device-width, initial-scale=1, user-scalable=yes, maximum-scale=1.5",name="viewport")
        != getBlock("styles").add(["http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Open+Sans:300,400,700","/styles/style.css"]).toHTML()


    body(class="#{document.class|| ''}")
        div.page-sidebar
            - each page in getCollection('html').findAllLive({isPage:true},[{order:1}]).toJSON()
                    a(href="#{page.url}", class="#{page.id === document.id ? 'is-active' : ''}")
                        | #{page.pageName}

        div.page
            header.page-nav
                button.icon-list
                span Bachelor Celebration
                img(src="/images/profile.jpg")
            section
                | !{content}
            footer
                test
        block scripts
            script(src="/vendor/jquery-2.0.3.min.js")
            != getBlock("scripts").add(['/scripts/ga.js']).toHTML()
            != getBlock("scripts").add(document.scripts || []).toHTML()
